.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0 50px;
  height: 100px;
  width: 100%;
  background-color: #0a192f;
  box-shadow: 0 0 5px 2px rgba(1, 11, 26, 0.7);
  z-index: 99;

  &__links {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &__logo {
    border: 2px solid #64ffda;
    padding: 8px;
    border-radius: 15px;
    color: #64ffda;
  }

  &__link {
    padding: 10px;
    color: #64ffda;
    font-size: 13px;

    & > span {
      color: #fff;

      &:hover {
        color: #64ffda;
      }
    }
  }

  &__resume {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    margin: 15px;
    padding: 0.75rem 1rem;
    border: 1px solid #64ffda;
    border-radius: 10px;
    color: #64ffda;
    transition: all 1s;

    &:hover {
      background-color: #046552;
    }
  }
}
