
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #495670;
  border: 3px solid #0a192f;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #0a192f;
}

::selection {
  background-color: #233554;
  color: #ccd6f6;
}
